.main-container {
    width: 100%;
    height: 100%;
    background-color: #f5bf98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: url('/assets/pregledPageBackground5.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.form-container {
    display: block;
    background-color: #fff1cf6c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 20%;
    height: 80%;
    margin-left: 21px;
    border-radius: 10px;
    /* padding: 10px; */
    /* border: 3px solid #000000 */
    /* opacity: 50%; */
    /* height: 70%;
    width: 25%; */
}

.map-container {
    background-color: #fff1cf;
    flex: 0 0 45%;
    height: 80%;
    /* padding: 10px; */
    /* border: 3px solid #000000; */
    border: 20px ridge #f5bf98;
    border-radius: 10px;
    /* height: 70%;
    width: 55%; */
}
/* .zemljevid-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: aquamarine;
}

#map {
  height: 450px;
} */

.stats-container {
    padding: 10px; /* For demonstration purposes */
    overflow-y: auto;
    background-color: #fff1cf6c;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    flex: 0 0 15%;
    height: 80%;
    margin-right: 21px;
    border-radius: 10px;
    /* padding: 10px; */
    /* border: 3px solid #000000 */
    /* height: 70%;
    width: 30; */
}

.form {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    /* display: flex; */
    
    /* display: block; */
}
.form-title {
    font-size:50px;
    font-weight: bold;
    margin-bottom: 15px;
}
.dropdown {
    display: block;
    background-color: #e3d1a7;
    color: black;
    padding: 2px;
    font-size: 20px;
    height: 35px;
    width: 60%;
    /* margin-top: 2px; */
    margin-bottom: 30px;
    cursor: pointer;
    /* text-col */
  }
  .select-period {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 35px;
    font-size: 30px;
    margin-top: 0px; 
  }
  option {
    font-size: 20px;
  }
  /* .option:hover {
    color: #e3d1a7;
  } */
  .cas {
    margin-bottom: 2px;
    margin-right: 20px;
  }
  .cas-do, 
  .cas-od {
    background-color: #e3d1a7;
    margin-right: 20px;
    color: black;
    height: 100%;
    width: 30%;
    cursor: pointer;
    font-size: 20px;
  }
  
  .button-prikaz {
    background-color: #e3d1a7;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    margin-top: 85px;
    border: 3px solid #000000;
    height: 7%;
    width: 30.4%;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

  }
  #statistka_pregled_naslov{
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .statistka_pregled_naslov_p{
    margin: 0;
    font-weight: 700;
  }