<div>
    <div class="container">
        <div style="margin-top: 30px">
            <app-calendar></app-calendar>
        </div>
        <app-graph [Day]="'Monday'" [Fitness]="'CleverFit'" [data]="data" [id]="'map1'"></app-graph>
    </div>
    <div class="container1">
        <app-graph [Day]="'Monday'" [Fitness]="'CleverFit'" [data]="data" [id]="'map1'"></app-graph>
        <app-graph [Day]="'Monday'" [Fitness]="'CleverFit'" [data]="data" [id]="'map1'"></app-graph>
        <app-graph [Day]="'Monday'" [Fitness]="'CleverFit'" [data]="data" [id]="'map1'"></app-graph>
    </div>
</div>