.main-container {
    font-family: 'Poppins', sans-serif;
    background: url('/assets/pregledPageBackground5.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex; 
    justify-content: space-around;
    background-color: rgba(211, 211, 211, 0);
    padding: 100px;
}

.container1 {
    display: flex;
}