<div class="main-container">
    <div class="container">
        <div style="margin-top: 30px">
            <app-calendar></app-calendar>
            <select (input)="fetchData()" id="gym">
                <option value="0"></option>
                <option value="1">BODIFIT Ljubljana</option>
                <option value="2">Clever fit Letališka</option>
                <option value="3">Clever fit Situla</option>
                <option value="4">BODYFIT Celje</option>
                <option value="5">Clever fit Bežigrad</option>
                <option value="6">Valkyrie</option>
                <option value="7">FITINN Fitnes studio</option>
            </select>
        </div>
        <app-graph [Day]="daysOfWeek[dayOfWeekNumber]" [Fitness]="fitnessString" [data]="dataGraph1" [id]="'map1'" [width]="'1000px'"></app-graph>
    </div>
    <div class="container1">
        <app-graph [Day]="daysOfWeek[(dayOfWeekNumber+1)%7]" [id]="'map2'" [width]="'500px'" [data]="dataGraph2"></app-graph>
        <app-graph [Day]="daysOfWeek[(dayOfWeekNumber+2)%7]" [id]="'map3'" [width]="'500px'" [data]="dataGraph3"></app-graph>
        <app-graph [Day]="daysOfWeek[(dayOfWeekNumber+3)%7]" [id]="'map4'" [width]="'500px'" [data]="dataGraph4"></app-graph>
    </div>
</div>