.main-container {
    font-family: 'Poppins', sans-serif;
    background: url('/assets/pregledPageBackground0.png') no-repeat center center fixed;
    background-size: cover;
    /* align-items: center; */
}

.container {
    display: flex; 
    justify-content: space-around;
    background-color: rgba(211, 211, 211, 0);
    padding: 100px;
}

.container1 {
    display: flex;
    margin-top:0px;
    justify-content: space-around;
    /* align-items: center; */
}

.pick-gym {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    height: 35px;
    width: 260px;
    background-color: #e0b494;
}

.pick-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    /* font-style: italic; */
    font-weight: bold;
    color: white;
}