
.container {
    display: flex; 
    justify-content: space-around;
    background-color: lightgray;
    padding: 100px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}