.main-container {
    width: 100%;
    height: 100%;
    background-color: #a1f4ff;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.button-pregled {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: 600px;
    height: 5%;
    width: 10%;

}

.button-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-right:600px;
    height: 5%;
    width: 10%;
}

